<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kadai9.MovieMapper">
    <select id="findAll" resultType="com.example.kadai9.Movie">
        SELECT * FROM characters
    </select>
    <select id="findMovies" parameterType="int" resultType="com.example.kadai9.Movie">
        SELECT * FROM movies WHERE published_year = #{publishedYear}
    </select>
</mapper>

